# Data Analysis on Electric Vehicle

#### Importing Necessary Libraries

In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px

#### Reading DataFrame

In [ ]:
df = pd.read_csv("dataset.csv")

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

## Data Cleaning

In [ ]:
df.isna().sum()

### Checking for Duplicated Values

In [ ]:
df.duplicated().sum()

In [ ]:
df["VIN (1-10)"].value_counts()

In [ ]:
df["County"].value_counts()

In [ ]:
df["City"].value_counts()

In [ ]:
df["Postal Code"].value_counts()

In [ ]:
df["Model"].value_counts()

In [ ]:
df["Make"].value_counts()

### Filling Null Values in Model Column with Mode of Make w.r.t Model

In [ ]:
df["Model"].isna().sum()

In [ ]:
df[df["VIN (1-10)"]=="YV4ED3GM7P"]

In [ ]:
df.loc[(df["Make"]=="VOLVO")&(df["Model Year"]==2023)]

In [ ]:
df["Model"] = df["Model"].apply(lambda x : df[df["Make"]=="VOLVO"].mode() if x is np.nan else x)

In [ ]:
df["Model"].isna().sum()

### Checking Null Values in Legislative District

In [ ]:
df["Legislative District"].isna().sum()

In [ ]:
df["Legislative District"].value_counts()

In [ ]:
df[df["State"]=="FL"]

* As Legislative District is related to District Code and from above it is seen than Legislative District code for FL is all Null values so dropping them

In [ ]:
df.dropna(subset="Legislative District",axis=0,inplace=True)

In [ ]:
df["Legislative District"].isna().sum()

### Checking Null Values in Vehicle Location

In [ ]:
df["Vehicle Location"].isna().sum()

In [ ]:
df.dropna(subset="Vehicle Location",axis=0,inplace=True)

In [ ]:
df["Vehicle Location"].isna().sum()

### Checking Null Values in Electric Utility

In [ ]:
df["Electric Utility"].isna().sum()

In [ ]:
df["Electric Utility"].value_counts()

In [ ]:
df1 = df[["Make","Model","Electric Vehicle Type","Electric Utility"]]
df1

In [ ]:
df.loc[df["State"]=="FL"]

In [ ]:
df.loc[df["County"]=="Monroe"]

In [ ]:
df.dropna(subset="Electric Utility",axis=0,inplace=True)

In [ ]:
df["Electric Utility"].isna().sum()

* As Base MSRP most of them are 0 so dropping the column

In [ ]:
df.drop(["Base MSRP"],axis=1,inplace=True)

In [ ]:
df.isna().sum()

### Exporting cleaned data

In [ ]:
df.to_csv("Cleaned_EV_data.csv")

# EDA

- Reading cleaned data

In [ ]:
df = pd.read_csv("Cleaned_EV_data.csv")

In [ ]:
df.head()

## Univariate

### County Count w.r.t vehicles

In [ ]:
df_county=df["County"].value_counts().reset_index().head(10)
df_county

In [ ]:
fig = px.pie(df_county,values='count', names='County', title='EV count Vs County')
fig.show()

- The above Pie chart shows the top 10 county which have more EV's
- It is seen that King county has around 57% of total data followed by Snohomish with 12.% and remaining are less than 10%

### Vehicle count w.r.t City

In [ ]:
df_city=df["City"].value_counts().reset_index().head(10)
df_city

In [ ]:
fig = px.bar(df_city,x='City',y='count',title='EV count Vs City')
fig.show()

- The above Bar plot shows the top 10 Cities which have more EV's.
- Form the above bar plot it is seen that Seattle City has around 20,000 vehicles, next top city is Bellevue with vehicles around 6,000.

### Vehicle count w.r.t Make

In [ ]:
df_make=df["Make"].value_counts().reset_index().head(20)
df_make

In [ ]:
fig = px.bar(df_make,x='Make',y='count',title='Top 20 Brands')
fig.show()

- From the above bar plot it is seen that most vehicles sold in Washington State are from Tesla Brand with more than 50,000 vehicles.
- Next top brands are Nissan and Chevrolet with around 10,000.

### Model vs Count

In [ ]:
df_model=df["Model"].value_counts().reset_index().head(10)
df_model

In [ ]:
fig = px.pie(df_model,values='count', names='Model', title='Top 10 EV models')
fig.show()

- The above Pie Chart shows the top 10 EV models present in Washington State.
- Modle 3 and Model Y are most sold vehicles in Washington with count of 23,000 and 17,000.
- LEAF is next top sold vehicle after Model 3 and Model Y with count of 12,800.

### Electric Vehicle Type count

In [ ]:
df_type=df["Electric Vehicle Type"].value_counts().reset_index()
df_type

In [ ]:
fig = px.bar(df_type,x='Electric Vehicle Type',y='count',title='Electric Vehicle Type Count',color="Electric Vehicle Type")
fig.show()

### Year Vs Count

In [ ]:
df_year=df["Model Year"].value_counts().reset_index()
df_year

In [ ]:
fig = px.bar(df_year,y='count',x='Model Year',title='Year wise EV count')
fig.show()

# Bivariate

### Make Vs Model

In [ ]:
df_make_model = df.groupby(["Make","Model"]).size().reset_index(name="count")

In [ ]:
df_make_model

In [ ]:
df_make_model.sort_values(by="count",ascending=False,inplace=True)

In [ ]:
df_make_model=df_make_model.head(10)

In [ ]:
df_make_model

In [ ]:
fig = px.bar(df_make_model, x="Make", y="count",color="Model",barmode="group",title="Make vs Model vs count")
fig.show()

- From the above bar plot it is seen that Tesla brand has more Popularity in Washington when compared to other Brands.
- And even in Tesla Brand Model 3 is more sold followed by Model Y.

### Make Vs Electric Range

In [ ]:
df_range=df.groupby(["Make"])["Electric Range"].mean().reset_index()
df_range

In [ ]:
df_range=df_range.sort_values(by="Electric Range",ascending=False)

In [ ]:
df_range=df_range.head(10)

In [ ]:
df_range

In [ ]:
fig = px.bar(df_range, y="Make", x="Electric Range",color="Make",title="Average Electric Range")
fig.show()

- From the above bar plot it is seen that average Electric Range of Jaguar is around 200 followed by Tesla With 118.

### County VS Make

In [ ]:
df_county_make1=df.groupby(["County","Make"]).size().reset_index(name="count")

In [ ]:
df_county_make1

In [ ]:
df_county_make1.sort_values(by="count",inplace=True,ascending=False)

In [ ]:
df_county_make1 = df_county_make1.head(10)

In [ ]:
fig = px.bar(df_county_make1, x="County", y="count",color="Make",barmode="group",title="County Vs Make")
fig.show()

- From the above bar plot it is seen that King county has highest make with Tesla topping at 30k

### Make Vs Electric Vehicle Type

In [ ]:
df_make_Electric_Vehicle_Type = df.groupby(["Electric Vehicle Type","Make"]).size().reset_index(name="count")

In [ ]:
df_make_Electric_Vehicle_Type.sort_values(by="count",ascending=False,inplace=True)

In [ ]:
fig = px.bar(df_make_Electric_Vehicle_Type.head(25), x="Make", y="count",color="Electric Vehicle Type",title="Make Vs Electric_Vehicle_Type")
fig.show()

- From the above Bar plot it is seen that Telsa has only BEV vehicles whereas Chevrolet, Kia, Ford, Audi, BMW, Volvo have both BEV and PHEV

### City Vs Make

In [ ]:
df_city_make=df.groupby(["City","Make"]).size().reset_index(name="count")

In [ ]:
df_city_make.sort_values(by="count",ascending=False,inplace=True)

In [ ]:
fig = px.bar(df_city_make.head(50), x="City", y="count",color="Make",title="County Vs Make")
fig.show()

## Choropleth Plot of Washington

In [ ]:
df.groupby(["Postal Code"]).size().reset_index(name="EV count")

In [ ]:
df_city=df.groupby(["City"]).size().reset_index(name="EV count")

In [ ]:
df_city

In [ ]:
import requests
from urllib.request import urlopen
import json
with urlopen('https://raw.githubusercontent.com/OpenDataDE/State-zip-code-GeoJSON/master/wa_washington_zip_codes_geo.min.json') as response:
    counties = json.load(response)

In [ ]:
Washington = json.load(open("wa_washington_zip_codes_geo.min.json", "r"))

In [ ]:
df_choro = df.groupby(["City","Postal Code"]).size().reset_index(name="EV count")
df_choro

In [ ]:
fig = px.choropleth_mapbox(
    df_choro,
    locations="Postal Code",
    featureidkey='properties.ZCTA5CE10',
    geojson=counties,
    color="EV count",
    hover_name="City",
    hover_data=["EV count"],
    title="Count of EV Vehicles",
    mapbox_style="carto-positron",
    center={"lat": 47.23166874361465, "lon": -119.85514005647997},
    zoom=6,
    opacity=0.5,
)
fig.show()

- The above Choropleth map shows the count of EV's present in Each City.

# Bar chart Race

In [ ]:
#!pip install bar-chart-race

In [ ]:
import bar_chart_race as bcr

In [ ]:
df_make_count=df.groupby(["Make"]).size().reset_index(name="count")

In [ ]:
df_make_count.sort_values(by="count",ascending=False,inplace=True)

In [ ]:
df_make_del = df_make_count.tail(15)

In [ ]:
names=df_make_del["Make"].tolist()

In [ ]:
df_bcr = pd.crosstab(index=df["Model Year"],columns=df["Make"])

In [ ]:
df_bcr.drop(names,axis=1,inplace=True)

In [ ]:
bcr.bar_chart_race(df_bcr,filename='EV_bar_chart_race.gif',n_bars=10,steps_per_period=5)

![EV_gif](EV_bar_chart_race.gif)

- The above racing bar chart shows the Evolution of EV's in different car brands and it is seen that Tesla crushed all other Brands as Years pass by.